<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:action="@{/api/bank/operation1}">
        <div>
            <label >l</label>
            <input type="text" name="l">
        </div>
        <div>
            <label >r</label>
            <input type="text" name="r">
        </div>
        <div>
            <label >n</label>
            <input type="text" name="n">
        </div>
        <button type="submit">Click</button>
    </form>
</body>
</html>